@use "../utils/variables.scss";

.TaskDisplay{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    gap: 10px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: variables.$primary-color;
    margin: 2vh 0 0 0;
    overflow: auto;
}